{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Déconnexion</a>
        </div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal">Veuillez vous connecter</h1>
    <label for="inputEmail">Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="mb-3 form-control email-connexion" autocomplete="email" required autofocus placeholder="Veillez entrez votre adresse mail">
    
    <label for="inputPassword">Mot de passe</label>
    <input type="password" name="password" id="inputPassword" class="mb-3 form-control password-connexion" requiredautocomplete="current-password" placeholder="Veillez entrez votre mot de passe">

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" name="_remember_me"> Se souvenir de moi
        </label>
    </div>

    <button class="btn rounded-pill btn-primary" type="submit">
        Connexion
    </button>
</form>
{% endblock %}
