{% extends 'base.html.twig' %}

{% block title %}Tissus{% endblock %}

{% block body %}
    <h1>Tissus</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tissu.id }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ tissu.type }}</td>
            </tr>
            <tr>
                <th>Qualité</th>
                <td>{{ tissu.qualité }}</td>
            </tr>
            <tr>
                <th>Taille</th>
                <td>{{ tissu.taille }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_tissus_index') }}">back to list</a>

    <a href="{{ path('app_tissus_edit', {'id': tissu.id}) }}">edit</a>

    {{ include('admin/tissus/_delete_form.html.twig') }}
{% endblock %}
